@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body h1 {
  font-size: 34px;
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
}

.bg-black {
  background-color: black;
  color: white;
}

.footer {
  background-color: black;
  padding: 0;
}

.navbar {
  background-color: black;
  color: white;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 10px;
}
.navbar-brand {
  color: white;
}
.navbar-brand:focus, .navbar-brand:hover {
  color: blue;
}
.navbar .nav-link {
  color: white;
}
.navbar .nav-link:hover {
  color: blue;
}
.navbar .nav-link {
  color: white !important;
}
.navbar .navbar-toggler {
  border: 1px solid white;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main {
  padding: 40px;
  text-align: center;
  justify-content: center;
}
.main h1 {
  font-size: 24px;
  font-weight: bold;
}
.main .img-larry {
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.main .img-larry:hover {
  transform: scale(1.05);
}

.contenedor-videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #212529;
  padding: 20px;
}
.contenedor-videos .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}
.contenedor-videos .video iframe {
  width: 100%;
  height: 400px;
  max-width: 100%;
}
.contenedor-videos .video h5 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.contenedor-videos .video p {
  margin-top: 5px;
  text-align: justify;
}

.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #212529;
  color: white;
  padding: 20px;
}
.encabezado .h1 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 599px) {
  .contenedor-videos {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .video iframe {
    height: 150px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .contenedor-videos {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .video iframe {
    height: 220px;
  }
}
@media (min-width: 1024px) {
  .contenedor-videos {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .video iframe {
    height: 250px;
  }
}
.main-img {
  display: grid;
  grid-gap: 20px;
}
.main-img img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.container h1 {
  color: white;
}
.container p {
  color: white;
}
.container p .card-text {
  color: black;
}

.textos {
  font-family: "Arial", sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

@media screen and (min-width: 1024px) {
  .main-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
  .main-img .img-uno {
    grid-column: 1;
    grid-row: 1;
  }
  .main-img .img-dos {
    grid-column: 2;
    grid-row: 1;
  }
  .main-img .img-tres {
    grid-column: 3;
    grid-row: 1;
  }
  .main-img .img-cuatro {
    grid-column: 1;
    grid-row: 2;
  }
  .main-img .img-cinco {
    grid-column: 2;
    grid-row: 2;
  }
  .main-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .main-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3fr);
    align-items: center;
  }
  .main-img .img-uno {
    grid-column: 1;
    grid-row: 1;
  }
  .main-img .img-dos {
    grid-column: 2;
    grid-row: 1;
  }
  .main-img .img-tres {
    grid-column: 1;
    grid-row: 2;
  }
  .main-img .img-cuatro {
    grid-column: 2;
    grid-row: 2;
  }
  .main-img .img-cinco {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (max-width: 599px) {
  .main-img {
    display: block;
    text-align: center;
  }
  .main-img img {
    max-width: 100%;
    height: auto;
  }
}
.contenedor-noticias {
  background-color: #212529;
  /* Estilo para las secciones de artículos */
  /* Estilo para las imágenes */
  /* Estilo para enlaces */
}
.contenedor-noticias .contenedor {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centra el contenedor */
  padding: 20px; /* Padding para espaciado interno */
  background-color: white; /* Fondo blanco para el contenedor */
  border: 2px solid #212529; /* Borde gris oscuro */
  border-radius: 8px; /* Bordes redondeados */
}
.contenedor-noticias .articulo {
  margin-bottom: 30px; /* Espacio entre secciones */
  border: 2px solid white; /* Borde sólido de 2px de grosor, color gris oscuro */
  border-radius: 8px; /* Bordes redondeados para suavizar el contenedor */
  padding: 20px;
}
.contenedor-noticias .imagen-articulo {
  width: 80%; /* Imágenes a tamaño completo */
  height: auto; /* Mantener proporciones */
  border-radius: 8px; /* Bordes redondeados */
}
.contenedor-noticias a {
  color: #007bff; /* Color azul para los enlaces */
  text-decoration: none; /* Sin subrayado */
}
.contenedor-noticias .contenedor a {
  color: #007bff; /* Color azul para los enlaces */
  text-decoration: none; /* Sin subrayado */
}
.contenedor-noticias .contenedor a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  min-height: 100vh;
  padding: 20px;
}

.contact-form {
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}
.contact-form h2 {
  text-align: center;
}

.btn-primary {
  display: block;
  width: auto;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
