/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generales */
.bg-black {
  background-color: #000;
  color: #fff;
}


footer a {
  text-decoration: none;
  color: #0b0101;
  transition: color 0.3s ease-in-out;
  /*Hay que arreglar el color de cuando se pone el cursor que se ponga azul*/
}

/* HEADER */
.navbar-nav {
  margin-left: auto;
  margin-right: 10px;
}

.navbar-brand {
  color: white;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}

.navbar .nav-link {
  color: white !important;
}

.bg-black {
  background-color: black;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*  Pagina de Inicio */
.main {
  padding: 40px;
  text-align: justify;

}

.main h1 {
  font-size: clamp(2rem, 5vw, 3rem); 
  text-align: center;
}

/* Imagenes para el Main de Inicio */
.img-larry {
  width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 5px; 
}

/* Pagina de Si­mbolos */
.main-img {
  display: grid;
  grid-gap: 20px;
}

.main-img img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
  object-fit: cover;
}

/*  Textos */
.textos {
  font-family: 'Arial', sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .main-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    grid-gap: 20px; 
  }

  .img-uno {
    grid-column: 1;
    grid-row: 1;
  }

  .img-dos {
    grid-column: 2;
    grid-row: 1;
  }

  .img-tres {
    grid-column: 3;
    grid-row: 1;
  }

  .img-cuatro {
    grid-column: 1;
    grid-row: 2;
  }

  .img-cinco {
    grid-column: 2;
    grid-row: 2;
  }

  .main-img img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
  }
}

/* Tablet (600px - 1023px) */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .main-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 3fr); 
    align-items: center; 

  }

  .img-uno {
    grid-column: 1;
    grid-row: 1;
  }

  .img-dos {
    grid-column: 2;
    grid-row: 1;
  }

  .img-tres {
    grid-column: 1;
    grid-row: 2;
  }

  .img-cuatro {
    grid-column: 2; 
    grid-row: 2; 
  }

  .img-cinco {
      grid-column: 1;
      grid-row: 3; 
      justify-self: center; 
      align-self: center;  
  }
}

/* Mobile (hasta 599px) */
@media screen and (max-width: 599px) {
  .main-img {
    display: block;
    text-align: center;
  }

  .main-img img {
    max-width: 100%; 
    height: auto; 
  }
}


/*Pagina de contacto */

      .centered-container {
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: transparent; /* Sin color de fondo */
           border: none; /* Sin borde */
           box-shadow: none; /* Sin sombra */
           
        }

        .contact-form {
            max-width: 500px; /* Ancho máximo para el formulario */
            padding: 20px; /* Espaciado interno */
            background-color: #fff; /* Fondo blanco para el formulario */
            border: none; /* Borde para el formulario */
            border-radius: 5px; /* Bordes redondeados */
            box-shadow: none; /* Sombra para el formulario */
             
        }

        .contact-form h2 {
            text-align: center; /* Centrar el título */
        }

        .btn-primary {
            display: block; /* Hacer que el botón ocupe todo el ancho */
            width: auto; /* Botón de ancho completo */
            margin-top: 10px; /* Espaciado entre el botón y el textarea */
        }